@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.header-topbar {
  display: flex;
  width: 100%;
  height: 40%;
  background-color: rgb(243, 243, 243);
  line-height: 1.8em;
}
.header-topbar__contacts {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-topbar__contacts .fas .contact-info {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-right: 25px;
  margin-left: 10px;
  color: #4a3e3e;
}
i.fas {
  color: #3e3e3e;
}
.header-topbar__socials {
  width: 50%;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-topbar__socials a i {
  color: #3e3e3e;
  margin-right: 10px;
}

.header-topbar__socials a {
  text-decoration: none;
}
.header-bottom {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.site-brand {
  width: 50%;
  margin-top: 30px;
}
.menu-items {
  width: 50%;
  text-align: right;
  margin-top: 30px;
}

.menu-items__list {
  list-style: none;
}
.menu-item {
  display: inline-block;
}

.menu-item a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
}

.menu-item__btn {
  background-color: orange;
  padding: 0.6em;
  border: 0.5em solid orange;
  border-radius: 100px;
  font-size: inherit;
  color: white;
}

.menu-item > a:hover {
  color: orange;
  transition: all 0.3s ease;
}

.menu-item__btn:hover {
  cursor: pointer;
  background-color: black;
  border: 0.5em solid black;
  transition: all 0.5s ease;
}

.banner-container {
  background-image: url("../images/hero-image.png");
  background-size: cover;
  height: 100vh;
  position: relative;
}

.header-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
}
.header-banner__title h2 {
  width: 100%;
  font-size: 75px;
  font-weight: bold;
}

.header-banner__subtitle h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88em;
}

.header-banner__btn {
  margin-top: 2.5em;
}
.header-banner__btn > button {
  color: white;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid white;
  border-radius: 100px;
  height: 60px;
  width: 200px;
  letter-spacing: 0.1em;
  font-size: 1em;
  transition: all 0.2s ease-in-out;
}

.header-banner__btn > button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.best-values {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-flow: row wrap;
  margin-top: 32px;
}

.best-value {
  width: 300px;
  height: 300px;
  line-height: 1.5em;
  margin: 2em auto;
}
